In [1]:
import pandas as pd
import numpy as np

In [2]:
flats = pd.read_csv('flats-cleaned.csv')
houses = pd.read_csv('houses-cleaned.csv')

In [3]:
data = pd.concat([flats, houses], ignore_index = True)

In [4]:
data = data.sample(data.shape[0], ignore_index = True)

In [5]:
data.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sohna,flat,signature global park,0.90,8036.0,1120.0,Built Up area: 1120 (104.05 sq.m.),3,2,0,not available,"Sohna Sector 36, Sohna, Gurgaon, Haryana",2.0,NaN,Mar-24,"['Sector 55-56 metro', 'Global city centre', '...",Best in class property available at sector 36 ...,NaN,NaN,"['Green Area5 out of 5', 'Amenities5 out of 5'..."
1,2 Bedroom House for sale in Shivji Park Colony,house,NaN,0.49,10378.0,472.0,Plot area 530(49.24 sq.m.),2,1,0,not available,"House No 394/3/22, Street No 16, Shivji Park C...",1.0,NaN,10+ Year Old,"['Rajiv Chowk Mosque', 'Bhanu Dental Care', 'P...",Interested to sell independent house/villa.It ...,NaN,['Water Storage'],"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2,5 Bedroom House for sale in Sector 37B Gurgaon,house,NaN,0.95,9500.0,1000.0,Plot area 1000(92.9 sq.m.),5,3,2,pooja room,"House No 69, Sector 37B Gurgaon, Gurgaon, Haryana",2.0,West,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'Ka...",Interested to sell independent house/villa.Pla...,NaN,NaN,NaN
3,3 BHK Flat in Sector 74 Gurgaon,flat,m3m skywalk,2.25,13636.0,1650.0,Super Built up area 2038(189.34 sq.m.)Built Up...,3,3,2,servant room,"T-03, Sector 74 Gurgaon, Gurgaon, Haryana",9.0,South,1 to 5 Year Old,"['Omaxe Gurgaon Mall', 'Omaxe Celebration Mall...","M3m skywalk in sector 74, gurgaon is a ready-T...","['4 Wardrobe', '4 Fan', '1 Exhaust Fan', '4 Ge...","['Centrally Air Conditioned', 'Water purifier'...",NaN
4,3 BHK Flat in Sector 103 Gurgaon,flat,satya the hermitage,1.12,5625.0,1991.0,Super Built up area 1991(184.97 sq.m.)Carpet a...,3,4,3+,servant room,"Sector 103 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Metro Hospital, Palam Vihar', 'Huda Metro St...",Looking for a 3 bhk property for sale in gurga...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."

In [6]:
data.shape

(3961, 20)

In [7]:
data.to_csv('gurgaon_estate.csv', index = False)